:root {
    --ZERO: #879aa7;
    --ONE: #ececec;
    --TWO: #61f58d;
    --THREE: #ceda68;
    --FOUR: #e9a43d;
    --FIVE: #c22e2e;
    --BG: #2f3136;
    --BETWEEN: #36393f;
    --BUTTONTOP: #9597A0;
    --BUTTONBOT: #B5B7C0;
    --TEXT: #ffffff;
    --NAVMENU: #181818;
}
:not(i) {
    font-family: Helvetica;
}
button {
    border: 0px;
    border-radius: 0px;
    background: linear-gradient(to bottom, var(--BUTTONTOP), var(--BUTTONBOT));
}
button:hover {
    background: linear-gradient(to top, var(--BUTTONTOP), var(--BUTTONBOT));
}
.autobuy {
    transform: translateY(20px);
}
html {
    height: 100%;
    width: 100%;
}
p {
    color: var(--TEXT)
}
body {
    background-color: var(--BG);
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}
input[type="checkbox"] {
    height: 50px;
    width: 50px;
    margin-top: 0px;
}
p.autobuytitle {
    margin-top: 20px;
}
.left {
    margin-left: 10px;
    width: calc(50% - 210px);
}
.right {
    margin-left: 10px;
    width: calc(50% - 210px);

}
.gameplay {
    width: 400px;
    box-shadow: 0px 0px 2rem rgba(0, 0, 0, 0.1), 0px -10px 0px var(--BETWEEN), 0px -600px 0px var(--ZERO);
    background-color: var(--BETWEEN);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.segment {
    height: 100%;
}
p {
    display: inline-block;
    margin-top: 5px;
}
.left p {
    margin: 3px;
    margin-top: 15px;
    font-size: 30px;
}
.line {
    height: 100px;
    width: 400px;
    margin-bottom: 10px;
    background-color: #ffffff34;
    display: flex;
}
.block {
    height: 100px;
    width: 100px;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}
#score,#sps,#combo,#prestigeAmount,#lines {
    font-family: Helvetica;
}
#bonusTileChance,#pointsPerLine,#bonusPoints {
    margin-left: 10px;
}
button {
    height: 48px;
    margin-top: 10px;
}
.block.zero {
    background-color: var(--ZERO);
}
.block.one {
    background-color: var(--ONE);
}
.block.two {
    background-color: var(--TWO);
}
.block.three {
    background-color: var(--THREE);
}
.block.four {
    background-color: var(--FOUR);
}
.block.five {
    background-color: var(--FIVE);
}
.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    right: 0;
    background-color: var(--NAVMENU); 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; /
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 0px;
    font-size: 36px;
    margin-right: 50px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  