:not(i) {
    font-family: Helvetica;
}
html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}
.left {
    width: calc(50% - 200px);
}
.right {
    width: calc(50% - 200px);
}
.gameplay {
    width: 400px;
    background-color: #DDDDED;
}
.segment {
    height: 100%;
}
