:root {
    --ZERO: #ffffe8;
    --ONE: #8cffda;
    --TWO: #8447ff;
    --THREE: #ffb2e6;
    --FOUR: #d972ff;
}
:not(i) {
    font-family: Helvetica;
}
html {
    height: 100%;
    width: 100%;
}
body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}
.left {
    margin-left: 10px;
    width: calc(50% - 210px);
}
.right {
    margin-left: 10px;
    width: calc(50% - 210px);

}
.gameplay {
    width: 400px;
    box-shadow: 0px -10px 0px #dddded, 0px -600px 0px var(--ZERO);
    background-color: #DDDDED;
}
.segment {
    height: 100%;
}
p {
    display: inline-block;
    margin-top: 5px;
}
.left p {
    margin: 3px;
    margin-top: 15px;
    font-size: 30px;
}
.line {
    height: 100px;
    width: 400px;
    margin-bottom: 10px;
    background-color: #FFFFFF24;
    display: flex;
}
.block {
    height: 100px;
    width: 100px;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}
button {
    height: 48px;
    margin-top: 10px;
}
.block.zero {
    background-color: var(--ZERO);
}
.block.one {
    background-color: var(--ONE);
}
.block.two {
    background-color: var(--TWO);
}
.block.3 {
    background-color: var(--THREE);
}
.block.4 {
    background-color: var(--FOUR);
}
